@CHARSET "ISO-8859-1";

/*	IMPORT	*/
@import url('reset.css');

/*	CONFIGURACIONES GENERALES	*/
.clear{
    clear:both;
    height:1px;
}

.inv{ display:none; }

.alignleft {
    float: left;
    margin: 5px 10px 5px 0px;
}

h1,h2,h3,h4,h5,h6{ 
    line-height: 1.4em;
    font-family: 'Ubuntu', arial, serif; 
    font-weight: lighter;
    color: #FFFFFF;
}

h1{ font-size: 30px; }

h2{ font-size: 28px; }

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 20px; }

body {
    line-height: 1;
    color: #51565b;
    background: #f1f1f1 url(img/noise.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size:  100%;
}

/*	CABECERA	*/
#header{
    height: 116px;
    position: relative;
    z-index: 10;
    background: rgb(62,136,153); Old browsers
    background: -moz-linear-gradient(top,  rgba(62,136,153,1) 0%, rgba(0,124,157,1) 100%); FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,136,153,1)), color-stop(100%,rgba(0,124,157,1))); Chrome,Safari4+
    background: -webkit-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); Opera 11.10+
    background: -ms-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); IE10+
    background: linear-gradient(to bottom,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e8899', endColorstr='#007c9d',GradientType=0 ); IE6-9
}

/*	ENVOLTURA	*/
.wrapper{
    width: 1000px;
    margin: 0px auto;
    position: relative;
}

/*	LOGOTIPO	*/
#logo {
	width: 209px;
	height: 110px;
    position: absolute;
    top: 3px;
    left: 30px;
    background-image: url(img/icono_110.png);
}

/*	TITULO	*/
#title {
    position: absolute;
    left: 150px;
    top: 53px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #E5E5E5;
    text-shadow: 1px 1px 0 rgba(100,0,0,1.0);
}

/*	MENU	*/
#menu{
    width: 100%;
    padding-top: 2px;
    margin-bottom: 0px;
    background: #f858ef; 
    background: -webkit-gradient(linear, left top, right bottom, from(#f858ef), to(#ffe413)); 
    background: -moz-linear-gradient(left,  #f858ef,  #ffe413);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f858ef', endColorstr='#ffe413', GradientType=1);
}

/*	PRINCIPAL	*/
#main {
    width: 100%;
}

/*	CONTENIDO	*/
#content{
    min-height: 420px;
    overflow: hidden;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5em;
}

/*	ICONOS DE USUARIOS	*/
.user-icon, .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0px;
    padding-right: 2px;
    z-index: 3;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
    top:178px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    background: rgba(65,72,72,0.75) url(img/user-icon.png) no-repeat center;	
}

.pass-icon {
    top:253px;
    background: rgba(65,72,72,0.75) url(img/pass-icon.png) no-repeat center;
}


/*	ENVOLTURA DE EL FORMULARIO	*/
#wrapper-form {
    /* Center wrapper perfectly */
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
}

/*	LOGIN FORM	*/
.login-form {
    top: 30px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index:5;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*	LOGIN HEADER	*/
.login-form .header {
    padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    line-height:34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
}

.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*	LOGIN CONTENT*/
.login-form .content {
    padding: 0 30px 25px 30px;
}

/*	LOGIN INPUT FIELD	*/
.login-form .content .input {
    width: 188px;
    padding: 15px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* LOGIN SECOND INPUT FILED	*/
.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 25px;
}

.login-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

/*	LOGIN FOOTER	*/
.login-form .footer {
    padding: 25px 30px 40px 30px;
    overflow: auto;

    background: #d4dedf;
    border-top: 1px solid #fff;

    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/*	LOGIN BUTTON	*/
.login-form .footer .button {
    float:right;
    padding: 11px 25px;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

    background: rgb(62,136,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(62,136,153,1) 0%, rgba(0,124,157,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,136,153,1)), color-stop(100%,rgba(0,124,157,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(62,136,153,1) 0%,rgba(0,124,157,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e8899', endColorstr='#007c9d',GradientType=0 ); /* IE6-9 */
    
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
    position: relative;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/*	ANIMACIONES DE LOS ICONOS	*/
.input, .user-icon, .pass-icon, .button, .register {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
