@CHARSET "ISO-8859-1";

/*	IMPORT	*/
@import url('reset.css');

/*	CONFIGURACIONES GENERALES	*/
.clear{
    clear:both;
    height:1px;
}

.inv{ display:none; }

.alignleft {
    float: left;
    margin: 5px 10px 5px 0px;
}

h1,h2,h3,h4,h5,h6{ 
    line-height: 1.4em;
    font-family: 'Ubuntu', arial, serif; 
    font-weight: lighter;
    color: #FFFFFF;
}

h1{ font-size: 30px; }

h2{ font-size: 28px; }

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 20px; }

body {
    line-height: 1;
    color: #51565b;
    background: #f1f1f1 url(img/noise.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size:  11px;
}

/*	CABECERA	*/
#header {
    height: 116px;
    position: relative;
    z-index: 10;
    background: #4617B4;
}

/*	ENVOLTURA	*/
.wrapper {
    width: 1000px;
    margin: 0px auto;
    position: relative;
}

/*	LOGOTIPO	*/
#logo {
	width: 209px;
	height: 110px;
    position: absolute;
    top: 3px;
    left: 30px;
    background-image: url(img/icono_110.png);
}

/*	TITULO	*/
#title {
    position: absolute;
    left: 150px;
    top: 53px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #E5E5E5;
    text-shadow: 1px 1px 0 rgba(100,0,0,1.0);
}

/*	MENU	*/
#menu {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 0px;
    background: #4617B4;
}

/*	PRINCIPAL	*/
#main {
    width: 100%;
}

/*	ABAJO	*/
#bottom {
    position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    line-height: 60px;
    color: #E6E6E6;
    background: #4617B4;
}

#bottom #bottom-text {
    width: 600px;
    overflow: hidden;
    margin-left: 30px;	
}

#bottom a {
    color: #AFEAF9;
    text-decoration: none;
}

/*	CONTENIDO	*/
#content {
    min-height: 420px;
    overflow: hidden;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  11px;
}

#content .line-divider{
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/*	CLASS PARA NOMBRES DE TITULO	*/
.name {
	background-color: #0AA0FF;
	vertical-align: middle;
	font-weight: bold;
	width: 100%;
	float: left;
}

/*	TITULOS DE PAGINA	*/
#page-title {
	overflow: hidden;
	height: 103px;
	margin-bottom: 30px;
	background:  url(img/tabs-divider.png) repeat-x bottom center;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#page-title .title {
	display: block;
	float: left;
	font-family: 'Ubuntu', arial, serif;
	font-size: 40px;
	line-height: 103px;
	margin-left: 30px;
}

#page-title .subtitle {
	display: block;
	float: left;
	margin-left: 30px;
	font-size: 14px;
	margin-top: 4px;
	line-height: 103px;
	color: #929191;
	font-style: italic;
}

/*	CONTENIDO DE PAGINA	*/
#page-content {
	float: left;
	width: 906px;
	margin-left: 30px;
	line-height: 1.3em;
}

/*	COLUMNAS PARA LAYOUT	*/
.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
	float:left;
	margin-right:30px;
	position:relative;
}

.one-half{ width: 438px; }

.one-third{ width: 282px; }

.one-fourth{ width: 204px; }

.two-third{ width: 594px; }

.three-fourth{ width: 672px; }

.last {
	clear:right;
	margin-right:0 !important;
}

/*	ICONOS SOCIALES	*/
.social{
    position: absolute;
    top: 15px;
    right: 0px;
    display: block;
    overflow: hidden;
}

.social li{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#bottom .social a{
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9000px;
}

#bottom .social a:hover{
    background-position: 0px -32px;
}
